<div class="bar_graph_panel">
    <h1 style="text-align:center; font-size: small; font-weight: bold"> Bar Graph Example </h1>
    <%= javascript_include_tag 'gdpBarGraph', 'data-turbolinks-track': 'reload' %>
</div>


