<div class="score_graph_panel">
  <%= javascript_include_tag 'd3.v4.min', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'score', 'data-turbolinks-track': 'reload' %>
  <%= javascript_tag "total_scores = #{total_scores.to_json.html_safe};" %>
  <script>
    render(total_scores);
  </script>
</div>

