<% if id == 1 %>
    <marquee behavior="scroll" direction="up" height="100" width="350">
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: blue; font-size: 12px;">Less text here; Less text here; Less text here</p>
    </marquee>
<% else %>
    <marquee behavior="scroll" direction="down" height="100" width="350">
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
      <p style="color: red; font-size: 12px;">Less text here; Less text here; Less text here</p>
    </marquee>
<% end %>

