body.active_admin .progress{
    -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
    background-color: #F7F7F7;
    background-image: -webkit-linear-gradient(top, whiteSmoke, #F9F9F9);
    background-repeat: repeat-x;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 10px;
    line-height: 20px;
    margin-bottom: 9px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

body.active_admin .progress .bar{
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.6000000238418579s;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: #4BB1CF;
    background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
    background-repeat: repeat-x;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px -1px 0px 0px inset;
    box-sizing: border-box;
    color: white;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}
