svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.axis path,
.axis line{
    fill: none;
    stroke: #000;
    shape-rendering: crishpEdges;
}

.arc text{
    font: 12px sans-serif;
    text-anchor: middle;
}

.arc path{
    stroke: #fff;
}

.arc2 text{
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc2 path{
    stroke: #fff;
}